@mixin text-format {
    overflow:hidden;
    text-overflow:ellipsis;
}
    .text-f_title {
        @include text-format;
        font-weight: 700;
        white-space:nowrap;
        padding-top:5px;
    }
    .text-f_description {
        // display: -webkit-box;
        max-height: calc(24px*3);
        -webkit-line-clamp: 3;
        overflow:hidden;
        -webkit-box-orient: vertical;
        display: block;
        display: -webkit-box;
        overflow: hidden !important;
    }